# Django
secret_key: 'asds2#55568465okt0mh%8svainp65asd68asdasd654as2r*ytc%x4b*'
debug: True
allowed_host: ["*"]

# Email
sys_email: "email"
sys_password: "password"
smtp_server: "smtp.gmail.com"
smtp_port: 587

EMAIL_USE_TLS: True
EMAIL_USE_SSL: False
smtp_ssl_port: 465

# Secret
jwt_secret: "1E8899FA158D8E54187624D923FD3"
celery_broker_url: "redis://127.0.0.1:6379"
