# Django
secret_key: '=s2#555okt0mh%8svainp1-&(9!of0mxg82**lx2r*ytc%x4b*'
debug: True
allowed_host: ["*"]

# Email
sys_email: "email"
sys_password: "password"
smtp_server: "smtp.gmail.com"
smtp_port: 587

EMAIL_USE_TLS: True
EMAIL_USE_SSL: False
smtp_ssl_port: 465

# Secret
jwt_secret: "1E8899FA158D8E54187624D923FD3"
celery_broker_url: "amqp://localhost"
