@import "abstracts/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.verticle-align {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.header {
  width: 100%;
  overflow: hidden;
  height: 50px;
  background: $background-color;
  & .navbar {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    & .logo {
      color: $theme-color;
      font-weight: 600;
      font-size: $heading;
    }
    & .navs {
      text-align: end;
      & a {
        color: $contrast-color;
        text-decoration: none;
        height: 100%;
        padding: 20px 10px;
        &:hover {
          background: $theme-color;
        }
      }
    }
    & > * {
      width: 50%;
    }
  }
}

.success {
  background: $background-color;
}

.invalid {
  background: red;
}

.success,
.invalid {
  padding: 10px 15px;
  color: #fff;
  margin: 15px 0;
}

.app {
  margin-right: 50px;
  margin-left: 50px;
  grid-row-gap: 4%;
  display: grid;
  & .row {
    padding: 15px 0;
  }
  & .page-title {
    font-size: $title;
    color: $theme-color;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-bottom: 2px solid;
    line-height: 1.8rem;
  }
}

.clear {
  background: $background-color;
  color: $white;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

.flex {
  display: flex;
  & .edit,
  & .delete {
    width: 50%;
    & .edit-btn,
    & .delete-btn {
      text-decoration: none;
      padding: 5px 10px;
      font-weight: 500;
      color: $white;
      width: 50%;
      cursor: pointer;
    }
  }
  & .edit {
    & .edit-btn {
      background: $background-color;
    }
  }
  & .delete {
    & .delete-btn {
      background: red;
    }
  }
}

.cards-container {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-gap: 1%;
  grid-row-gap: 1%;
  & a {
    text-decoration: none;
    color: unset;
  }
  & .cards {
    background: $background-color;
    overflow: hidden;
    border-radius: 0 0 14px 14px;
    & .image-container {
      overflow: hidden;
      height: 200px;
      background: #d6d6d6;
      & img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        &:hover {
          transform: scale(1.1);
          transition: 0.8s ease;
        }
      }
    }
    & .content {
      padding: 10px 15px;
      & .book-name {
        color: $theme-color;
        font-weight: 600;
      }
    }
  }
}

.logout-btn{
  cursor: pointer;
  color: $theme-color;
  font-weight: 500;
}

.book-details {
  & .container {
    display: grid;
    grid-template-columns: 20% 74%;
    grid-gap: 6%;
    & .left {
      & .image-container {
        height: 400px;
        & img {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }
      }
      & .content {
        padding: 10px 0;
        color: $background-color;
        font-weight: 600;
      }
    }
    & .right {
      & .book-name {
        color: $theme-color;
        font-weight: 600;
        font-size: $page-header;
        letter-spacing: 2px;
      }
      & .author {
        text-decoration: underline;
      }
      & .description {
        padding: 15px 0;
        text-align: justify;
      }
      & .information {
        display: flex;
        border: 3px solid;
        padding: 20px;
        margin: 20px 0 0 0;
        flex-direction: row;
        flex-wrap: wrap;
        & .label {
          color: $background-color;
          font-weight: 600;
          font-size: $sub-title;
        }
        & .value {
          font-size: $title;
          font-weight: 600;
        }
        & .info {
          width: 25%;
          &:not(:last-child) {
            border-right: 1px solid;
          }
          &:not(:first-child) {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.signIn {
  width: 30%;
  border: 1px solid #d2cdcd;
  padding: 20px 25px;
  & .page-title {
    color: $background-color;
    font-size: $page-header;
    border: 0;
  }
  & .signIn-container {
    margin-top: 20px;
  }
}

.col-md {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 4%;
  & .form-group {
    margin-top: 0 !important;
  }
  &:not(:first-child) {
    margin-top: 20px !important;
  }
}

.add {
  width: 80%;
  border: 1px solid #d2cdcd;
  padding: 20px 25px;
  margin-top: 20px;
}

.form-group {
  &:not(:first-child) {
    margin-top: 20px;
  }
  & .label {
    font-weight: 600;
    font-size: $sub-title;
  }
  & .form-control {
    border: 1px solid #afafaf;
    padding: 5px;
    width: 100%;
    margin-top: 5px;
    background: none;
  }
  & .submit {
    padding: 10px;
    border: 0;
    outline: none;
    color: $contrast-color;
    font-size: $sub-title;
    font-weight: 500;
    cursor: pointer;
    background: $background-color;
  }
  .error {
    color: red;
    font-size: $sub-title;
    padding-top: 5px;
  }
  & .image-container {
    height: 200px;
    width: 200px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
}

.loader {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  background: #80808096;
  z-index: 5000;
  & .loading {
    display: flex;
  }

  & .circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    animation: jump 0.5s ease-in infinite;
  }

  & .circle:nth-of-type(1) {
    background-color: rgb(20, 101, 106);
  }

  & .circle:nth-of-type(2) {
    animation-delay: 0.1s;
    background-color: rgb(250, 114, 104);
  }

  & .circle:nth-of-type(3) {
    animation-delay: 0.2s;
    background-color: rgb(148, 219, 223);
  }

  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
}

.close {
  position: relative;
  float: right;
  cursor: pointer;
}

.disabled {
  background: grey !important;
  cursor: not-allowed !important;
}

.search {
  & .search-container {
    width: 60%;
    & .form-group {
      & .form-control {
        padding: 10px;
        font-size: $title;
      }
    }
  }
  & .result-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & .filter {
      width: 15%;
    }
    & .results {
      width: 80%;
      margin: 0 2%;
    }
  }
  & .filter {
    & .filter-group {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
    & .filter-title {
      background: $background-color;
      color: $white;
      font-size: $sub-title;
      font-weight: 600;
      padding: 6px;
    }
    & .filter-content {
      margin-top: 10px;
      max-height: 200px;
      overflow-y: auto;
    }
  }
}

.mobile-nav {
  position: fixed;
  bottom: 0px;
  background: $background-color;
  display: none;
  min-height: 9vh;
  max-height: 9vh;
  width: 100%;
  padding: 20px 0;
  & .option {
    width: 25%;
    & a {
      color: $contrast-color;
      text-decoration: none;
    }
  }
}

.footer {
  background: $background-color;
  padding: 10px 0;
  width: 100%;
  position: relative;
  bottom: -9vh;
  .copy-right {
    color: $contrast-color;
    cursor: pointer;
    &:hover {
      color: $theme-color;
    }
  }
}

@import "base/responsive";
